.logo
{
	margin-top: -13px;
}
 
 .btn-primary
 {
 	border: 2px;
 	border-color: #40b190;
 }

 .menuContato{

 	display: block;
 	padding-right: 100%;/*--------MODIFIQUEI A PARTE DO FALE CONOSCO*/
 }

 .conteudoContato
 {
 	padding: 20px;
 }

 .right
 {
 	float: left;
 	padding-right: 10px;
 	padding-left: 150px;
 }

 .botaoPesquisar
 {
 	float: right;
 }


 .texto
 {
 	text-indent: 1.5em;
 }

 .Perguntas
 {
 	color: #40b190;
 }
 a .Perguntas:houver
 {
 	color:blue;
 }












