.logo
{
	margin-top: -13px;
}
 
 .btn-primary
 {
 	border: 2px;
 	border-color: #40b190;
 }

 .menuContato{

 	display: block;
 	padding-right: 100%;/*--------MODIFIQUEI A PARTE DO FALE CONOSCO*/
 }

 .conteudoContato
 {
 	padding: 20px;
 }

 .right
 {
 	float: left;
 	padding-right: 10px;
 	padding-left: 150px;
 }

 .botaoPesquisar
 {
 	float: right;
 }


 .texto
 {
 	text-indent: 1.5em;
 }

 .Perguntas
 {
 	color: #40b190;
 }
 a .Perguntas:houver
 {
 	color:blue;
 }

 .imgPequena/*pagCarrinho mudei o tamanho da imagem*/
 {
 	width: 40px;
 	height: 50px;
 }

/*card2,3 e imgTamanho é da pagIndex*/
 .card2
 {
  width: 350px;
  height: 340px;
 }

 .card3
 {

  width: 250px;
  height: 470px;
 }

.imgTamanho
{
	width: 230px;
	height:290px;
}

.checkout1/*espaçamento dos checkouts 1,2,3,4 */
{
	padding-left:70px;
}

.card4/*pagCategoria tirei o bg-info para modificar a cor dos cards*/
{
	background-color: #fff;

}

.rdEntrega{
	display: none;
}

.pagamentoCX:hover{
	border: 2px solid #40b190;
	cursor: pointer;
}











