#imgHome{
	width: 40%;
	margin-bottom: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

#radioBtn .notActive{
    color: #000;
    background-color: #fff;
}


.btn.btn-primary.btn-sm.active{
    background: #6610f2;
    border-color: #4e555b;

}

.btn.btn-primary.btn-sm{
    border-color: #4e555b;

}

button.btn.btn-success{
    background: #6610f2;
    border: 0;
    color: white;


}

button:hover.btn.btn-success{
    background-color: #6610f2;
    border-color: #6610f2;

}

.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active{
    background-color: #6610f2;
    border-color: #6610f2;
}

.page-item.active .page-link{
    background-color: #6610f2;
    border-color: #6610f2;

}

.pagination > .active > a:hover{
        background-color: #6610d2;
    border-color: #6610d2;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
            background-color: #6610d2;
    border-color: #6610d2;
}