#imgHome{
	width: 40%;
	margin-bottom: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

#radioBtn .notActive{
    color: #000;
    background-color: #fff;
}


.btn.btn-primary.btn-sm.active{
    background: #6f42c1;
    border-color: #4e555b;

}

.btn.btn-primary.btn-sm{
    border-color: #4e555b;

}

button.btn.btn-success{
    background: #6f42c1;
    border: 0;
    color: white;


}

button:hover.btn.btn-success{
    background-color: #6f42c1;
    border-color: #6f42c1;

}

.btn:not(:disabled):not(.disabled):active{
    background-color: #6610f2;
    border-color: #6610f2;
}

.page-item.active .page-link, .btn-primary{
    background-color: #6f42c1;
    border-color: #6f42c1;

}

.pagination > .active > a:hover{
    background-color: #6610f2;
    border-color: #6610f2;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background-color: #6610f2;
    border-color: #6610f2;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background-color: #6f42c1;
    border-color: #6f42c1;


}

.dt-buttons .dt-button{
    background-color: #6f42c1;

}

.customtab li a.nav-link.active, .profile-tab li a.nav-link.active{
    color: #6610f2;

}

.customtab li a.nav-link.active, .profile-tab li a.nav-link.active{
    border-color: #6610f2;
}

.sidebar-nav > ul > li.active > a{
    color: #6610f2;

}
.sidebar-nav ul li a:hover, .login-form label a{
    color: #6610f2;

}

.sidebar-nav ul li a.active, .sidebar-nav > ul > li.active > a i, .sidebar-nav > ul > li.active > a i{
    color: #6f42c1;

}

.sidebar-nav ul li a:hover i{
    color: #6610f2;

}

.text-primary{
    color: #6f42c1 !important;

}

.fotoPainel img{
    max-width: 250px;
    max-height: 220px;
}


#lblCor{
    color: white;
}



/*.cameraCapaModelo {
    display: inline-block;
    position: relative;
    }*/

    .cameraCapaModelo:hover:after, .cameraModelo:hover:after {
        visibility: visible;
        cursor: pointer;
        border: 2px solid #333;

    }

    .cameraCapaModelo::after, .cameraModelo::after {
        background-image: url(../images/camera/capa.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center center;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        visibility: hidden;
        /* opacity: 0.5;*/
    }

    .cameraCapaModelo img, .cameraModelo img {
       width: 100%;
       height: 150px;
       max-width: 100%;
       border: 2px solid #333;
       padding: 0;

   }


   .IMGmodelo{
    border: 2px solid black;
}


.cameraModeloFoto1::after {
    background-image: url(../images/camera/foto1.jpg);
}

.cameraModeloFoto2::after {
    background-image: url(../images/camera/foto2.jpg);
}

.cameraModeloFoto3::after {
    background-image: url(../images/camera/foto3.jpg);
}


.filesFoto, .inputNumero{
    display: none;
}


